/* 
    Document   : Estilos
    Created on : 16-ene-2013, 3:29:55
    Author     : William
    Description:
        Purpose of the stylesheet follows.
*/

div.contenedor
{
    width: 420px;
    height: 460px;
    *margin: 0 auto;
}

div.contenedorcanvas
{
    width: 200px;
    height: 420px;
    float: left;
    background: url('Images/fondocanvas.png');
    
    border: 3px solid #667799;    
}

div.contenedorderecha
{
    width: 100px;
    height: 300px;
    float: left;
    font-size: 16px;      
        
    font-family: "Terminal";
    font-weight: bold;
}

div.contenedorderecha .figura
{    
    width: 80px;
    height: 60px;
    border: 3px solid #667799;
    margin-left: 8px;
    background-color: #DDEEFF;
}

div.contenedorderecha .figura .canvas
{
    margin-top: 10px;
    margin-left: -15px;
}

div.contenedorderecha .score
{
    width: 80px;
    height: 40px;
    margin-left: 8px;
    margin-top: 8px;
    border: 3px solid #667799;
    background-color: #DDEEFF;
}

div.contenedorderecha .score .izq
{
    float: left;
    width: 30px;
    height: 40px; 
    padding-right:8px;   
    margin-left: 5px;
    line-height: 37px;
}

div.contenedorderecha .score .der
{
    float: left;
    width: 10px;
    height: 40px;
    text-align: right;
    margin-right: 5px;
    line-height: 37px;
}

div.contenedorderecha .jugar
{
    width: 80px;
    height: 40px;
    background-color: #DDEEFF;
    border: 3px solid #667799;
    margin-left: 8px;
    margin-top: 8px;
    text-align: center;
    line-height: 37px;    
}

div.contenedorderecha .jugar a
{
    cursor: pointer;
}

div.contenedorderecha .controles
{
    width: 80px;
    height: 125px;
    background-color: #DDEEFF;
    border: 3px solid #667799;
    margin-left: 8px;
    margin-top: 8px;
}

div.contenedorderecha .controles .izq
{
    /*float: left;*/
    width: 30px;
    height: 30px;    
    margin-left: 5px;    
    cursor: pointer ;
}

div.contenedorderecha .controles .izq img
{
    width: 30px;
    height: 30px;
}

div.contenedorderecha .controles .der
{
    float: left;
    width: 75px;
    height: 40px;    
    margin-right: 5px;
    
}

table, th, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
	margin: 0 auto;
}
tr, td{
    padding: 5px;
    text-align: center;    
}
